{% extends "base.html" %}
{% block title %}Forgot password{% endblock %}
{% block content %}
<div class="container">
<h1 class="text-center mt-5">
    Forgot your password?
</h1>
<form method="POST" action="{% if old_password_check %}{{url_for('password_change')}}{% else %}{{url_for('change_password', hash=hash)}}{% endif %}" id="credential-form" class="mx-auto mt-5">
    <div class="card">
        {% if old_password_check%}
            <div class="card-header">
                Change password
            </div>
        {% else %}
            <div class="card-header">
                Forgot password
            </div>
        {% endif %}
        <div class="card-body">
            <div class="mb-3">
                {% if old_password_check %}
                    <div class="mt-4 w-75 mx-auto">
                        <label for="old-password" class="form-label">Old password</label>
                        <input id="old-password" class="form-control" type="password" name="old-password" required>
                    </div>
                {% else %}
                    <div class="mt-4 w-75 mx-auto">
                        <label for="email" class="form-label">Email</label>
                        <input id="email" class="form-control" type="email" name="email" value="{{ user.email }}" disabled>
                    </div>
                {% endif %}
                <div class="mt-4 w-75 mx-auto">
                    <label for="password" class="form-label">Password</label>
                    <input id="password" class="form-control" type="password" name="password" required>
                </div>
                <div class="mt-4 w-75 mx-auto">
                    <label for="confirm-password" class="form-label">Password</label>
                    <input id="confirm-password" class="form-control" type="password" name="confirm-password" required>
                </div>
                {% if old_password_check %}
                    <div class="mt-5 w-50 mt-5 mx-auto" role="group" aria-label="Basic mixed styles example">
                        <button class="btn btn-discard me-2" type="reset">Reset</button>
                        <button class="btn btn-profile ms-2" type="submit">Change password</button>
                    </div>
                {% else %}
                    <div class="w-50 mt-5 mx-auto">
                        <button class="btn btn-login-register" data-url="{{ url_for('login') }}" type="submit">
                            Change Password 
                        </button>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</form>
{% if error %}
<div id="error" class="hidden">
    {{ error }}
</div>
{% endif %}
</div>
{% endblock %}
{% block postloadjs %}
{% endblock%}