{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}
<div class="container">
<h1 class="text-center mt-5">
    Register Page
</h1>
<form method="POST" action="{{url_for('register')}}" id="credential-form" class="mx-auto mt-5">
    <!-- Google -->
    <div id="g_id_onload"
        data-client_id="{{g_client_id}}"
        data-callback="handleCredentialResponse">
    </div>
    <div class="card">
        <div class="card-header">
            Register
        </div>
        <div class="card-body">
            <div class="mb-3">
                <div class="mt-4 w-75 mx-auto">
                    <label for="email" class="form-label">Email</label>
                    <input id="email" class="form-control" type="email" name="email" required>
                </div>
                <div class="mt-4 w-75 mx-auto">
                    <label for="password" class="form-label">Password</label>
                    <input id="password" class="form-control" type="password" name="password" required>
                </div>
                <div class="mt-4 w-75 mx-auto">
                    <label for="confirm-password" class="form-label">Password</label>
                    <input id="confirm-password" class="form-control" type="password" name="confirm-password" required>
                </div>
            </div>
            <div class="mb-3 w-75 mt-5 mx-auto">
                <div class=" btn-group" role="group" aria-label="Login or Register">
                    <button class="btn btn-login-register" id="submitform" type="submit">Register</button>
                    <button class="btn btn-login-register" data-url="{{ url_for('login') }}" id="register-login-link">
                        Go to login page <i class="fa-solid fa-arrow-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
{% if error %}
<div id="error" class="hidden">
    {{ error }}
</div>
{% endif %}
</div>
{% endblock %}
{% block postloadjs %}
<script src="{{ url_for('static', filename='js/google.js') }}"></script>
{% endblock%}