body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    background-image: linear-gradient(to right,#F9F28A, 15%, #E5F5FF , 85%, #F9F28A);
    padding: 15px;
    color: #0248B1;
    height: 100vh;
}

.navbar {
    background-color: #0248B1;
}

.navbar-brand {
    color: #F9F28A !important;
}

.nav-link {
    color: #E5F5FF !important;
}

.nav-link:hover {
    color: #F9F28A !important;
}

.active {
    color: #F9F28A !important;
}

.nav-login {
    margin-right: 20px;
}

.navbar-end {
    margin-right: 150px !important;
}

.navbar-toggler {
    --bs-navbar-toggler-border-color: #E5F5FF!important;
    --bs-navbar-toggler-focus-width: None !important
}

.navbar-toggler-icon {
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb%28196, 228, 255%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}


.navbar-toggler-icon:hover {
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.dropdown-menu {
    background-color:  #E5F5FF;
}

.dropdown-item:hover {
    background-image: linear-gradient(#E5F5FF,15%,#F9F28A,85%,#E5F5FF)
}

.dropdown-divider {
    background-color: #0248B1;
}

.dropdown-item {
    color:#0248B1;
    text-align: center;
}

.toast-header {
    background-color: #0248B1;
    color: #E5F5FF;
}

.hidden {
    display: none;
}

#forgot-password {
    margin-top: 15px;
    margin-left: 50px;
    display: inline-block;
}

.content-container {
    margin-top: 15px;
}

.assistant-container {
    margin-top: 20px;
}

.btn-add-trait, .btn-login-register {
    background-color: #0248B1;
    color: #E5F5FF;
}

.btn-add-trait:hover, .btn-login-register:hover {
    background-color: #E5F5FF;
    color: #0248B1;
    border: 1px solid #0248B1;
}

.btn-discard {
    background-color: red;
    color: #E5F5FF;
}

.btn-discard:hover {
    background-color: #ffd7d7;
    color: red;
    border: 1px solid red;
}

.card-header, .modal-header {
    background-color: #0248B1;
    color: #E5F5FF;
}

.card-body {
    background-color: #F9F28A;
}

.modal-body {
    padding: 20px !important;
}

.modal-body input {
    margin-bottom: 5px;
}

.btn-trait {
    background-color: #cec549;
    color: #0248B1;
    border: 1px solid #0248B1
}

.btn-trait:hover {
    background-color: #faf282;
    color: #0248B1;
    border: 1px solid #0248B1
}

.btn-popover {
    --bs-popover-border-color:#0248B1;
    --bs-popover-header-bg: #0248B1;
    --bs-popover-header-color: #E5F5FF;
    --bs-popover-body-padding-x: 10px;
    --bs-popover-body-padding-y: 10px;
}